<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.eventsmspu.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>ТЕСТ. Мероприятия МПГУ: ИФТИС</name>

    <description>
        Мероприятия МПГУ: ИФТИС - все события института - ЗДЕСЬ!
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/63cbcf282264b8245b52a88ab4af9813.png" density="ldpi" />
        <icon src="res/android/icon/8fc8f8d3ff53d8cb15ebcce31a98023d.png" density="mdpi" />
        <icon src="res/android/icon/33351fe0874f9c691415e3100b76e3f9.png" density="hdpi" />
        <icon src="res/android/icon/52c1574a37d8dc34a420353f814c151e.png" density="xhdpi" />
        <icon src="res/android/icon/8cbbeb484964252e80706b91af49fddf.png" density="xxhdpi" />
        <icon src="res/android/icon/e83e046d493603cb19f6de4bc9e3c733.png" density="xxxhdpi" />

        <splash src="res/android/screen/f6ac15f357000b718b5e0f5818ff4784.png" density="port-hdpi"/>
        <splash src="res/android/screen/e1ec627427a34e93089e13873a5b3da1.png" density="port-ldpi"/>
        <splash src="res/android/screen/df14761c3436485b730e3be99d923c9f.png" density="port-mdpi"/>
        <splash src="res/android/screen/c50e5acf6686d4fe309d19693b43b5e4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/e032c9c24c96c77cafbcf463805a581d.png" width="180" height="180" />
        <icon src="res/ios/icon/e8760bc86eb4f22f61a99f405ccde138.png" width="60" height="60" />
        <icon src="res/ios/icon/44e105063ef8c001bb9f211d80db5394.png" width="120" height="120" />
        <icon src="res/ios/icon/f0cd7f927e2141d2086bed22f9438f04.png" width="76" height="76" />
        <icon src="res/ios/icon/cedfa66279c61266854e9cab51f2d53f.png" width="152" height="152" />
        <icon src="res/ios/icon/0509ca125a4da6339ea4c43523de3385.png" width="57" height="57" />
        <icon src="res/ios/icon/1ade2b0dee7b9510e68870800bc0ce50.png" width="114" height="114" />
        <icon src="res/ios/icon/980b712732ca23e7c550bbb00cd451bf.png" width="72" height="72" />
        <icon src="res/ios/icon/5aaac9fe267681eb7ba323b1ef7d8947.png" width="144" height="144" />
        <icon src="res/ios/icon/3de2351c6991ced38d24ad50c5210103.png" width="167" height="167" />
        <icon src="res/ios/icon/5cf5f6a7def2506a1a589fcfdbc42309.png" width="29" height="29" />
        <icon src="res/ios/icon/bdae3d8f17e6e3ac0d5e9ca651de10b9.png" width="58" height="58" />
        <icon src="res/ios/icon/dda71de0d23fb4502a39f2998c34016d.png" width="87" height="87" />
        <icon src="res/ios/icon/3b64f0fb3f2e5cc74bd0faf9075b1c3b.png" width="167" height="167" />

        <splash src="res/ios/screen/5f98ff9861a1339129266d4cb703dc4a.png" />
        <splash src="res/ios/screen/42b6716957f5cb44158e85de031bea8a.png" />
        <splash src="res/ios/screen/7cd0ad33757b3e5c9f2b0c5b96068017.png" />
        <splash src="res/ios/screen/205f858840a88d0467ee8abf6ce1c620.png" />
        <splash src="res/ios/screen/2443358db6ed3ec1443d002557046ab6.png" />
        <splash src="res/ios/screen/1597854e70782f8705e0d07b4836f64d.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/554b4b4eba9b1dd154f5e55df2d5e6be.png" target="StoreLogo" />
        <icon src="res/windows/icon/c1d19c72fe291aec32428a9aa5f5b525.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/d4f2de8506be2cf6478f4593992c17a0.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/af0aa91425ffef0acbe31d2c6dfa5a1c.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/a331b70f79e47469aca8196458132140.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/a3398db22d7417803a9b015905302ef8.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/da2f69ce0f17db57e2a1516be80b7bca.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/a6a2ad517a6b09f3819a8831c9f579f3.png" target="SplashScreen"/>
        <splash src="res/windows/screen/b3aceb81f99fab553207af1ec0748e4d.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>